Task1: Create data structures with matching sample IDs for the gene expression data, estrogen receptor (ER) status, and the AJCC cancer stage of each individual.
Task2: Explore the expression data: drop genes with missing values and select a subset of variable genes by inspecting the histogram of standard deviations of each gene. Keep two versions of the data, one with and one without gene standardization.

Answer task1: Using the same script as unsupervised clustering assignment  to answer task1 and task two

In [1]:
from code_from_cluster_assignment import (
    load_clinical_data,
    load_gene_expression_data,
    create_data_structures_with_matching_sample,
    encode_estrogen_receptor,
    get_std,
    plot_std_histogram)

In [2]:
from sklearn.preprocessing import StandardScaler

In [3]:
genes_expression     = load_gene_expression_data("BRCA.exp.348.med.txt")
genes_expression.head()

,NAME,ELMO2,CREB3L1,RPS11,PNMA1,MMP2,C10orf90,ZHX3,ERCC5,GPR98,...,CSF2,SLC2A11,GRIP2,GPLD1,RAB8A,PIK3IP1,SLC39A6,SNRPD2,AQP7,CTSC
0,TCGA-A1-A0SH-01A-11R-A084-07,0.162208,1.33800,0.044063,0.24950,1.843833,0.18450,0.642083,-0.05300,-0.507687,...,-0.21375,0.045917,0.00950,-0.222833,0.5763,0.248875,0.0284,-0.2334,-0.61725,-0.46325
1,TCGA-A1-A0SJ-01A-11R-A084-07,0.577708,-0.48350,-0.258062,0.68225,-0.531000,0.12750,0.472583,-0.02500,-0.452313,...,-0.37075,0.502583,0.27875,0.674333,-0.0781,0.736625,2.6238,0.2950,2.05025,-0.44335
2,TCGA-A1-A0SK-01A-12R-A084-07,1.113042,-1.55850,0.119813,0.86775,-1.674833,-0.84375,-1.109917,0.73075,0.202813,...,-1.08450,-0.622083,0.16200,0.139667,0.6228,-0.260625,-0.9017,-0.0323,-0.56825,-0.33125
3,TCGA-A1-A0SO-01A-22R-A084-07,-0.375208,-1.62875,-0.542063,-0.13975,-1.838167,-0.36375,-0.685917,-0.19675,-0.555562,...,-0.04900,-0.165917,0.10250,1.493333,-0.2751,-0.426125,-1.9603,0.5177,-0.52225,-0.26135
4,TCGA-A2-A04N-01A-11R-A115-07,-0.785292,0.26300,0.131688,0.45775,0.141333,0.26225,0.037917,0.40650,0.571937,...,0.34200,-0.223417,-0.11150,-0.429667,-0.9936,-0.747375,0.6105,0.6075,-0.54325,0.10965

In [4]:
estrogen_receptor    = load_clinical_data("clinical_data.xlsx")
estrogen_receptor

    Complete TCGA ID ER Status  AJCC Stage
0       TCGA-A2-A0T2  Negative    Stage IV
1       TCGA-A2-A04P  Negative  Stage IIIC
2       TCGA-A1-A0SK  Negative   Stage IIA
3       TCGA-A2-A0CM  Negative   Stage IIA
4       TCGA-AR-A1AR  Negative   Stage III
..               ...       ...         ...
798     TCGA-EW-A1PD  Positive   Stage IIA
799     TCGA-EW-A1PE  Positive   Stage IIA
800     TCGA-EW-A1PF  Positive    Stage IA
801     TCGA-EW-A1PG  Positive   Stage IIB
802     TCGA-EW-A1PH  Negative   Stage IIA

[756 rows x 3 columns]

In [5]:
estrogen_receptor    = encode_estrogen_receptor(estrogen_receptor)
estrogen_receptor.head()

  Complete TCGA ID  ER Status  AJCC Stage
0     TCGA-A2-A0T2          1    Stage IV
1     TCGA-A2-A04P          1  Stage IIIC
2     TCGA-A1-A0SK          1   Stage IIA
3     TCGA-A2-A0CM          1   Stage IIA
4     TCGA-AR-A1AR          1   Stage III

In [6]:
genes_expression, estrogen_receptor  = create_data_structures_with_matching_sample(genes_expression, estrogen_receptor)
genes_expression.head()

,ELMO2,CREB3L1,RPS11,PNMA1,MMP2,C10orf90,ZHX3,ERCC5,GPR98,RXFP3,...,CSF2,SLC2A11,GRIP2,GPLD1,RAB8A,PIK3IP1,SLC39A6,SNRPD2,AQP7,CTSC
Complete TCGA ID,,,,,,,,,,,,,,,,,,,,,
TCGA-A2-A0T2,0.094042,-0.16075,-0.023937,-0.91000,-0.607667,0.64950,0.032583,-0.37500,-1.286938,0.6375,...,-0.00425,0.819917,0.31175,-0.171833,-0.0101,-1.225625,-1.3221,0.1507,-1.01425,-0.34315
TCGA-A2-A04P,-1.247042,0.04525,0.027812,-1.80175,-1.158000,3.24800,-0.032250,0.36275,-0.047313,0.6765,...,0.60000,-0.579083,0.26800,-0.193167,0.9367,-1.610625,-4.1867,0.4112,0.54175,0.67245
TCGA-A1-A0SK,1.113042,-1.55850,0.119813,0.86775,-1.674833,-0.84375,-1.109917,0.73075,0.202813,-0.4860,...,-1.08450,-0.622083,0.16200,0.139667,0.6228,-0.260625,-0.9017,-0.0323,-0.56825,-0.33125
TCGA-A2-A0CM,-0.178375,-0.61400,-0.087437,0.07325,-0.044000,-0.11800,-0.249417,-0.75825,-2.402830,0.0260,...,2.11875,-0.629917,0.22875,-0.449500,-0.0752,-0.582875,-2.6926,0.3203,-0.84775,0.45355
TCGA-B6-A0WX,-0.543958,0.35000,-0.288312,0.00125,1.151833,1.06525,-0.033750,-0.18400,-1.511813,-0.0085,...,0.28750,0.104750,-0.01025,0.703833,-0.6255,-0.593625,-1.2700,-0.4628,0.19875,-0.56215

In [7]:
estrogen_receptor.head()

  Complete TCGA ID  ER Status  AJCC Stage
0     TCGA-A2-A0T2          1    Stage IV
1     TCGA-A2-A04P          1  Stage IIIC
2     TCGA-A1-A0SK          1   Stage IIA
3     TCGA-A2-A0CM          1   Stage IIA
5     TCGA-B6-A0WX          1  Stage IIIA

In [8]:
std = get_std(genes_expression=genes_expression)
scaler = StandardScaler()
genes_expression_standerdized =scaler.fit_transform(genes_expression)

In [9]:
plot_std    = plot_std_histogram(std=std)

NameError: name 'plot_std_histogram' is not defined